import * as utility from '../utilityFuncLib.mjs'

export default function(obj) {
	const scoreName = utility.scoreName(obj);
	const names = {};
	Object.keys(scoreName).forEach((name)=>scoreName[name][0]?names['left']=name:scoreName[name][1]?names['top']=name:scoreName[name][2]?names['right']=name:'');

	const trikalaSide=200;
	const trikalaHeight=Math.round(1000*trikalaSide*Math.sqrt(3)/2)/1000;
	const borderMargin=30;
	const textMargin=5;
	const textSize=12;
	const userResultSize=2;
	let footerLeftButtons='';
	if(obj.options.homeLink) footerLeftButtons+=`<a class="button" href="${obj.options.homeLink}">⌂</a>`;
	if(obj.options.restartButton) footerLeftButtons+=`<a class="button back" href="">⟳</a>`;

	return `
<script>
<%- include('../node_modules/gl-matrix/gl-matrix-min.js'); %>
glMatrix.glMatrix.setMatrixArrayType(Array);
const vec2 = glMatrix.vec2;
const vec3 = glMatrix.vec3;
const trikalaSide=${trikalaSide};
const trikalaHeight=${trikalaHeight};
const L = vec2.fromValues(0,0);
const T = vec2.fromValues(trikalaSide/2,-trikalaHeight);
const R = vec2.fromValues(trikalaSide,0);

function bary2xy(array3){
	const v = vec3.fromValues(...array3);
	const nv = vec3.scale([],v, 1/(array3[0]+array3[1]+array3[2])); // normalize to 1
	const xy = vec2.add([],
			vec2.add([],
				vec2.scale([], L, nv[0]),
				vec2.scale([], T, nv[1])
			),
			vec2.scale([], R, nv[2])
	);
	return xy;
}
function svgDot(array3) {
	const xy = bary2xy(array3);
	return '<circle cx="'+xy[0]+'" cy="'+xy[1]+'" title="'+JSON.stringify(array3)+'" r="${userResultSize}" style="fill:blue"/>';
}
function svgLine(xy1,xy2) {
	return '<line x1="'+xy1[0]+'" y1="'+xy1[1]+'" x2="'+xy2[0]+'" y2="'+xy2[1]+'" style="stroke: #edbb5f"/>';
}

function renderResult(quotation){
	const score = bary2xy(quotation.score)
	document.body.innerHTML = \`
<section id="result">
	<div class="page">
		<h1>Vos résultats en trikala</h1>
		<label>
			<svg viewbox="${-borderMargin} ${-borderMargin-trikalaHeight} ${trikalaSide+2*borderMargin} ${trikalaHeight+2*borderMargin}" style="max-height:500px;margin:auto;">
				<text x="${trikalaSide/2}" y="${-trikalaHeight-textMargin}" font-size="${textSize}" text-anchor="middle">${names['top']}</text>
				<text x="0" y="${textMargin+textSize}" font-size="${textSize}" text-anchor="middle">${names['left']}</text>
				<text x="${trikalaSide}" y="${textMargin+textSize}" font-size="${textSize}" text-anchor="middle">${names['right']}</text>
				<g style="stroke:black;">
					${obj.options.toTopMedian ? '\${svgLine(T,bary2xy([quotation.score[0],0,quotation.score[2]]))}' : ''}
					${obj.options.toLeftMedian ? '\${svgLine(L,bary2xy([0,quotation.score[1],quotation.score[2]]))}' : ''}
					${obj.options.toRightMedian ? '\${svgLine(R,bary2xy([quotation.score[0],quotation.score[1],0]))}' : ''}
				</g>
				<path d="M \${L[0]} \${L[1]} L \${T[0]} \${T[1]} L \${R[0]} \${R[1]} Z" style="stroke:black; stroke-width:2px;fill:none;"/>
				<circle cx="\${score[0]}" cy="\${score[1]}" r="${userResultSize}" style="fill:#0A0;"/>
			</svg>
		</label>
		<footer>
			${footerLeftButtons}
			<div>&nbsp;</div>
		</footer>
	</div>
</section>
\`;
}
</script>
`;
}

