import * as utility from '../../src/utilityFuncLib.mjs'
import md from '../../node_modules/marked/lib/marked.esm.js'

export default function(obj) {
	const scoreName = utility.scoreName(obj);
	const names = {};
	Object.keys(scoreName).forEach((name)=>scoreName[name][0]?names['left']=name:scoreName[name][1]?names['top']=name:scoreName[name][2]?names['right']=name:'');

	const trikalaSide=200;
	const trikalaHeight=Math.round(1000*trikalaSide*Math.sqrt(3)/2)/1000;
	const borderMargin=30;
	const textMargin=5;
	const textSize=12;
	const userResultSize=2;
	let footerLeftButtons='';
	if(obj.options.homeLink) footerLeftButtons+=`<a class="button" href="${obj.options.homeLink}">⌂</a>`;
	if(obj.options.restartButton) footerLeftButtons+=`<a class="button back" href="">⟳</a>`;
	let subArea = [];
	if(obj.options.subArea) {
		subArea = obj.options.subArea.map(a=>{
			if(a.description) a.description = md(a.description);
			return a;
		});
	}

	return `
<script>

<%- include('../../node_modules/gl-matrix/gl-matrix-min.js'); %>
<%- include('../../node_modules/d3-delaunay/dist/d3-delaunay.min.js').replace(/`/g,'\\`').replace(/\$/g,'\\$'); %>
//include('../../node_modules/d3-delaunay/dist/d3-delaunay.js');

glMatrix.glMatrix.setMatrixArrayType(Array);
const vec2 = glMatrix.vec2;
const vec3 = glMatrix.vec3;
const trikalaSide=${trikalaSide};
const trikalaHeight=${trikalaHeight};
const L = vec2.fromValues(0,0);
const T = vec2.fromValues(trikalaSide/2,-trikalaHeight);
const R = vec2.fromValues(trikalaSide,0);
const subArea = ${JSON.stringify(subArea)};


function bary2xy(array3){
	const v = vec3.fromValues(...array3);
	const nv = vec3.scale([],v, 1/(array3[0]+array3[1]+array3[2])); // normalize to 1
	const xy = vec2.add([],
			vec2.add([],
				vec2.scale([], L, nv[0]),
				vec2.scale([], T, nv[1])
			),
			vec2.scale([], R, nv[2])
	);
	return xy;
}
function optionalBary2xy(array3or2){
	return array3or2.length===2 ? array3or2 : bary2xy(array3or2);
}
function svgDot(array3, color='#AAA') {
	const xy = bary2xy(array3);
	return '<circle cx="'+xy[0]+'" cy="'+xy[1]+'" title="'+JSON.stringify(array3)+'" r="${userResultSize}" style="fill:'+color+'"/>';
}
function svgLine(xy1,xy2) {
	return '<line x1="'+xy1[0]+'" y1="'+xy1[1]+'" x2="'+xy2[0]+'" y2="'+xy2[1]+'" style="stroke: #edbb5f"/>';
}
function svgText(array3,text, color='black'){
	const xy = bary2xy(array3);
	return '<text x="'+xy[0]+'" y="'+xy[1]+'" text-anchor="middle" style="fill:'+color+'">'+text+'</text>';
}
function svgPolygon(pointList, fillColor){
	return '<polygon points="'+pointList.map(p=>optionalBary2xy(p).join(',')).join(' ')+'" style="fill:'+fillColor+'"/>';
}
function svgRoundPath(pointList,fillColor){
	const midPoints = pointList.map((point,l)=>point.map((dimension,i)=>(dimension+pointList[(l+1)%pointList.length][i])/2));

	let path = '<path d="M '+optionalBary2xy(midPoints[midPoints.length-1]).join(',');
	for(let l in pointList){
		path+=' Q '+optionalBary2xy(pointList[l]).join(',')+' '+optionalBary2xy(midPoints[l]).join(',')
	}
	path+='" style="fill:'+fillColor+'"/>';
	return path;
}
function mean(nDimPoints){
	const nDimPointsSum=nDimPoints.reduce((acc,cur)=>cur.map((v,i)=>v+acc[i]),[0,0,0]);
	return nDimPointsSum.map(v=>v/nDimPoints.length);
}
function _stdDeviation(nDimPoints,filterFunc){
	const nDimPointsMean=mean(nDimPoints);
	const squareSum=nDimPoints.reduce((acc,cur)=>cur.map((v,i)=>Math.pow(filterFunc(0,v-nDimPointsMean[i]),2)+acc[i]),[0,0,0]);
	const variance=squareSum.map(v=>v/(nDimPoints.length-1));
	return variance.map(Math.sqrt);
}
function stdDeviation(nDimPoints){ // écart type
	return _stdDeviation(nDimPoints, (zero,v)=>v );
}

function underDeviation(nDimPoints){ // écart type inférieur
	return _stdDeviation(nDimPoints,Math.min);
}
function hoverDeviation(nDimPoints){ // écart type supérieur
	return _stdDeviation(nDimPoints,Math.max);
}

function splitPointsDimension(nDimPoints){
	const splitDim=[];
	nDimPoints[0].forEach(dim=>splitDim.push([]));
	nDimPoints.forEach(p=>p.forEach((dim,i)=>splitDim[i].push(dim)));
	return splitDim;
}
function median(nDimPoints,ratio=.5){
	const splitDim=splitPointsDimension(nDimPoints);
	const sorted = splitDim.map(dim=>dim.sort((a, b) => a>=b ));
	const position = (nDimPoints.length-1)*ratio;
	const flooredP = Math.floor(position);
	const ratioP = position-flooredP;
	return sorted.map(d=> d[flooredP]*(1-ratioP) + d[Math.min(flooredP+1,nDimPoints.length-1)]*ratioP );
}
function area3Deviation(mid,dUnder,dHover){
	return [
		[mid[0]+dHover[0],mid[1],mid[2]],
		[mid[0],mid[1]-dUnder[1],mid[2]],
		[mid[0],mid[1],mid[2]+dHover[2]],
		[mid[0]-dUnder[0],mid[1],mid[2]],
		[mid[0],mid[1]+dHover[1],mid[2]],
		[mid[0],mid[1],mid[2]-dUnder[2]],
	];
}
function area3quantile(mid,under,hover){
	return [
		[hover[0],mid[1],mid[2]],
		[mid[0],under[1],mid[2]],
		[mid[0],mid[1],hover[2]],
		[under[0],mid[1],mid[2]],
		[mid[0],hover[1],mid[2]],
		[mid[0],mid[1],under[2]],
	];
}

function renderResult(quotation){
	const delaunay = d3.Delaunay.from(subArea.map(sa=>bary2xy(sa.position)));
	let activeResult, medians, resultDots = '';
	if(quotation.results){
		const results = quotation.results.map(r=>r.score?r.score:r).map(r=>r.map(d=>parseFloat(d)));
		resultDots += results.map(r=>svgDot(r,'hsla(120,80%,30%,.5)')).join('');

		const med=median(results);
		resultDots += svgRoundPath(area3quantile(med,median(results,.10),median(results,.90)),'hsla(30,80%,40%,.3)');
		resultDots += svgRoundPath(area3quantile(med,median(results,.25),median(results,.75)),'hsla(30,80%,40%,.3)');
		resultDots += svgRoundPath(area3quantile(med,median(results,.333),median(results,.666)),'hsla(30,80%,40%,.3)');
		/*for(let i = 1;i<50;i+=1){
			resultDots += svgRoundPath(area3quantile(med,median(results,(50-i)/100),median(results,(50+i)/100)),'hsla(30,80%,40%,.05)');
		}*/
		resultDots += svgDot(med,'hsla(30,80%,40%,1)');

		const resultMean=mean(results);
		const eqType=stdDeviation(results);
		const ud = underDeviation(results);
		const hd = hoverDeviation(results);
		const boost = eqType.map((v,i)=>v?v/(ud[i]+hd[i]):v);
		const uD = ud.map((v,i)=>boost[i]?v/boost[i]:v);
		const hD = hd.map((v,i)=>boost[i]?v/boost[i]:v);
		//resultDots += svgRoundPath(area3Deviation(resultMean,ud,hd),'hsla(240,80%,30%,.2)');
		resultDots += svgRoundPath(area3Deviation(resultMean,uD,hD),'hsla(240,80%,30%,.2)');
		//resultDots += svgRoundPath(area3Deviation(resultMean,eqType,eqType),'hsla(240,80%,30%,.1)');
		resultDots += svgDot(resultMean,'hsla(240,80%,30%,1)');

	}
	if(quotation.score){
		activeResult = subArea[delaunay.find(...bary2xy(quotation.score))];
		medians = ''
			+ (${!!obj.options.toTopMedian} ? svgLine(T,bary2xy([quotation.score[0],0,quotation.score[2]])) : '')
			+ (${!!obj.options.toLeftMedian} ? svgLine(L,bary2xy([0, quotation.score[1],quotation.score[2]])) : '')
			+ (${!!obj.options.toRightMedian} ? svgLine(R,bary2xy([quotation.score[0],quotation.score[1],0])) : '')
		;
		resultDots += svgDot(quotation.score,'#0A0');
	}
	const voronoi = delaunay.voronoi([0, -trikalaHeight, trikalaSide, 0]);
	const svgVoronoiTextArray = [];
	const svgVoronoiLayer = [...voronoi.cellPolygons()].map((polygon,i)=>{
		if(${!!obj.options.debugSubAreaPosition} === true) svgVoronoiTextArray.push(
				svgDot(subArea[i].position,'black')
				+ svgDot(subArea[i].titlePosition ? subArea[i].titlePosition : subArea[i].position,'orange')
		);
		if(${!!obj.options.showSubAreaName} && !quotation.noSubTitles === true) svgVoronoiTextArray.push(
				svgText(subArea[i].titlePosition ? subArea[i].titlePosition : subArea[i].position,subArea[i].title,subArea[i].hue?'hsl('+subArea[i].hue+',80%,50%)':undefined)
		);
		polygon.pop();
		return '<a href="'+(subArea[i].url?subArea[i].url:location.hash)+'"><path d="M '+polygon.shift().join(',')
				+ polygon.map(point=>' L '+point.join(',')).join('')
				+' Z"/></a>';
	}).join('');
	document.body.innerHTML = \`
<section id="result">
	<style>
	 #voronoi path {
		stroke:grey;
		stroke-width:1px;
		fill:transparent;
	 }
	 #voronoi path:hover {
		stroke:grey;
		stroke-width:1px;
		fill:rgba(50%,50%,50%,.2);
	 }
	#voronoi a:focus-visible
	{outline:none}
	label {position: relative;min-height: 0;}
	#result p {display:block;}
	svg {
		max-height:100%;
		max-width:100%;
		margin:auto;
	}
	svg text {
		font-size: ${textSize}px;
		font-family: sans-serif;
		fill: #ccc;
	}
	</style>
	<div class="page">
		<div>
			\${activeResult?'<h1>Votre type : '+activeResult.title+'</h1>'+(activeResult.description?activeResult.description:''):''}
		</div>
		<label>
			<svg viewbox="${-borderMargin} ${-borderMargin-trikalaHeight} ${trikalaSide+2*borderMargin} ${trikalaHeight+2*borderMargin}">
				<path d="M \${L[0]} \${L[1]} L \${T[0]} \${T[1]} L \${R[0]} \${R[1]} Z" style="fill:#eee;"/>
				<clipPath id="triCut">
					<path d="M \${L[0]} \${L[1]} L \${T[0]} \${T[1]} L \${R[0]} \${R[1]} Z"/>
				</clipPath>
				<g id="voronoi" clip-path="url(#triCut)">
					\${svgVoronoiLayer}
				</g>
				<g style="stroke:black;">
					\${medians}
				</g>
				<path d="M \${L[0]} \${L[1]} L \${T[0]} \${T[1]} L \${R[0]} \${R[1]} Z" style="stroke:black; stroke-width:2px;fill:none;"/>
				<g id="text">
					\${svgVoronoiTextArray.join('')}
					<text x="${trikalaSide/2}" y="${-trikalaHeight-textMargin}" text-anchor="middle">${names['top']}</text>
					<text x="0" y="${textMargin+textSize}" text-anchor="middle">${names['left']}</text>
					<text x="${trikalaSide}" y="${textMargin+textSize}" text-anchor="middle">${names['right']}</text>
				</g>
				<g>
					\${resultDots}
				</g>
			</svg>
		</label>
		<footer>
			${footerLeftButtons}
			<div>&nbsp;</div>
		</footer>
	</div>
</section>
\`;
}
</script>
`;
}

